@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --color-texto: #464646;
}

* *, * *::placeholder {
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
    color: var(--color-texto);
}

h2 {
    font-size: 1.375rem;
    font-weight: bold;
}

h3 {
    font-size: 1rem;
    font-weight: bold;
}

.experiencia {
    overflow: hidden;
}

.contenedor-grid {
    background-color: #F5F5F5;
    display: grid;
    font-size: 16px;

    grid-template:
    "header"
    "main"
    "footer" / 
    100%;

    width: 100%;
}

/* Header */
.header {
    grid-area: header;
    overflow: hidden;
    padding: 1rem;
}

.nombre, .anclas, .anclas > *, .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--color-texto);
}

.nombre {
    font-weight: bold;

    & > img {
        margin-right: 0.5rem;
    }
}

.anclas > *:not(:last-child) {
    display: none;
}

.anclas__enlace {
    text-decoration: none;
    font-weight: normal;
    font-size: 0.875rem;
}

/* MAIN */
.hero {
    padding: 1rem;
}

.hero, .presentacion {
    > *:not(:last-child) {
        margin-bottom: 1rem;
    }
}

.contenedor-imagen {
    width: 100%;

    & > img {
        width: 6.125rem;
    }

    margin-bottom: 1rem;
}

.presentacion {
    & > h2 {
        font-weight: bold;
        font-size: 1.375rem;
    }

    & > p {
        font-size: 0.875rem;
    }
}

.redes {
    display: flex;
    overflow: hidden;
}

.redes__enlace {
    & > a {
        text-decoration: none;
        font-weight: 600;

        display: flex;
        justify-content: center;
    }

    &:not(:last-child) > a {    
        margin-right: 0.5rem;
    }
}

/* INFORMACIÓN */
.informacion {
    background-color: #EAF2FD;
    padding: 1rem;

    & > p {
        font-size: 0.875rem;
    }

    > *:not(:last-child) {
        margin-bottom: 1rem;
    }
}

/* SKILLS */
.skills, .hobbies {
    padding: 1rem;

    > h2 {
        text-align: center;
    }
}

.contenedor {
    overflow: hidden;
    
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(1.75rem, 9.75rem));
    justify-content: center;
    
    gap: 1rem;

    .contenedor__caja {
        background-color: #FFFFFF;
        margin-top: 2rem;

        height: 7.375rem;
        /* width: 9.75rem; */
        width: 100%;
        padding: 1rem;

        overflow: hidden;

        display: flex;
        flex-direction: column;
        justify-content: end;

        > p {
            font-weight: bold;
        }
    }
}

.contenedor-imagen-icon {
    > img {
        width: 1.5rem;
        margin-bottom: 0.5rem;
    }
}

/* FORMACIÓN */
.formacion {
    padding: 2rem;
    background-color: #EAF2FD;

    > h2 {
        text-align: center;
    }
}

.contenedor-formacion {
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18.5rem, 1fr));
    
    gap: 1rem;
    margin: 2rem 0 2rem 0;

    .contenedor-formacion__caja {
        display: grid;
        gap: 0.5rem;

        > figure {
            width: 100%;
            height: 7.375rem;
            background-color: #FFFF;

            display: flex;
            padding: 1rem;
            justify-content: center;
            align-items: center;

            > img {
                width: 5.25rem;
                height: 3.625rem;
            }

            > p {
                font-weight: 400;
                font-size: 0.875rem;
            }
        }
    }
}